<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbuCfVUGbwzX_SEqieYd0rgUVDQkwd_ko</string>
	<key>GCM_SENDER_ID</key>
	<string>926223610539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.krokApp</string>
	<key>PROJECT_ID</key>
	<string>krokapp-8aa94</string>
	<key>STORAGE_BUCKET</key>
	<string>krokapp-8aa94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926223610539:ios:53b5bef9442433e2d5bdee</string>
</dict>
</plist>